<!Doctype html>


<html  xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Cart</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>


<body>


<div class="container">

    <div th:replace="~{navigation :: nav(cart)}"></div>

    <h1>Корзина</h1>
    <span th:unless="${items.size() > 0}">В корзине отсутствуют товары</span>

    <table class="table table-hover" th:if="${items.size() > 0}">
        <thead class="thead-dark">
        <tr>
            <th>Название товара</th>
            <th>Цена за еденицу</th>
            <th>Кол-во</th>
            <th>Общая стоимость</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="item : ${items}">
            <td th:text="${item.product.title}"/>
            <td th:text="${item.itemPrice}"/>
            <td th:text="${item.quantity}"/>
            <td th:text="${item.totalPrice}"/>
        </tr>

        </tbody>
    </table>


    <table th:if="${items.size()>0}">
        <tbody>
        <tr>
            <td><a   class="btn btn-success" th:href="@{'/orders/prepared/' + ${cartId}}" >Оформить заказ</a></td>
            <td th:text ="'Общая стоимость - '+  ${price}">

        </tr>

        </tbody>
    </table>


</div>


</body>
</html>