<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>Market</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

</head>

<div th:fragment="nav(activeTab)">
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav navbar-navigation">
                <li class="nav-item" th:classappend="${activeTab == 'Home' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/}" th:text="#{nav.home}"/>
                </li>
                <li class="nav-item" th:classappend="${activeTab == 'Shop' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/shop}" th:text="#{nav.shop}" />
                </li>
                <li class="nav-item" th:classappend="${activeTab == 'Cart' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/cart}" th:text="#{nav.cart}"></a>
                </li>
                <li sec:authorize="hasRole('ADMIN')" class="nav-item "
                    th:classappend="${activeTab == 'AdminDashboard' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/admin}">Admin Dashboard</a>
                </li>

                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <form th:action="@{/logout}" method="POST">
                        <input type="submit" class="btn btn-danger" value="Logout"/>
                    </form>
                </li>

                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a style="margin-left:20px" class="nav-link btn btn-success btn-sm"
                       th:href="@{/personal/profile}"> Мой профиль</a>
                </li>

                <li sec:authorize="isAnonymous()" class="nav-item ">
                    <form class="align-middle" th:action="@{/authenticateTheUser}" method="POST">
                        <div class="input-group-prepend">
                            <input class="form-control" type="text" placeholder="Login" name="username"
                                   aria-describedby="inputGroup-sizing-sm">
                            <input class="form-control" type="password" placeholder="password (*)"  name="password"
                                   aria-describedby="inputGroup-sizing-sm">
                            <button class="btn btn-primary btn-sm" type="submit">Log In</button>
                        </div>
                    </form>
                </li>
                <li sec:authorize="isAnonymous()" class="nav-item">
                    <a style="margin-left:20px" class="nav-link btn btn-success btn-sm"
                       th:href="@{/register/}">SignIn</a>
                </li>

                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle"  th:text="#{nav.lang}" type="button"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"/>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" th:href="@{/+'?lang=ru'}">РУС</a>
                        <a class="dropdown-item" th:href="@{/+'?lang=en'}">ENG</a>
                    </div>
                </div>
            </ul>


        </div>
    </nav>
</div>
