<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8"/>

    <title>Cart</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
<!--<div th:replace="~{navigation :: nav(Home)}"></div>-->
<div class="container">

    <div sec:authorize="isAnonymous()">
        <p>Войдите в учетную запись </p>

        <a th:href="@{/login}" class="btn btn-primary">Войти</a>


        <form th:action="@{/orders/createOrder}" method="POST">
            <h>Введите email для оформления заказа</h>
            <input class="form-control" type="text" placeholder="Email" name="email">
            <button class="btn btn-success" type="submit"> Оформить заказ</button>
        </form>

    </div>

    <div sec:authorize="isAuthenticated()">

        <a th:href="@{'/orders/create/'+ ${cartId}}" class="btn btn-primary"> Оформить заказ</a>
    </div>





</div>
</body>
</html>