<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
<div class="container">
    <br>
<!--    <h1 th:text="${order.getUser().getFirstName() + '!'}"></h1>-->
    <p style="margin-bottom: 40px">Ваш заказ успешно оформлен. В ближайшее время мы приступим к его сборке.</p>
    <table style="border-collapse: collapse;">
        <caption style="font-weight: bold; margin-bottom: 20px">Состав заказа</caption>
        <thead>
        <tr style="background-color: #bee5eb;">
            <th style="padding: 20px; text-align: center;">Название товара</th>
            <th style="padding: 20px; text-align: center;">Количество</th>
            <th style="padding: 20px; text-align: center;">Стоимость</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="orderItem, iterStat : ${order.items}">
            <td style="border-top: 1px solid #dee2e6; padding: 20px; text-align: center;"
                th:styleappend="${iterStat.odd} ? 'background-color: rgba(0,0,0,.075);'"
                th:text="${orderItem.product.title}"/>
            <td style="border-top: 1px solid #dee2e6; padding: 20px; text-align: center;"
                th:styleappend="${iterStat.odd} ? 'background-color: rgba(0,0,0,.075);'"
                th:text="${orderItem.quantity}"/>
            <td style="border-top: 1px solid #dee2e6; padding: 20px; text-align: center;"
                th:styleappend="${iterStat.odd} ? 'background-color: rgba(0,0,0,.075);'"
                th:text="${orderItem.totalPrice}"/>
        </tr>
        </tbody>

        <tfoot>
        <td style="padding: 20px; font-style: italic;">Итоговая сумма:</td>
        <td style="padding: 20px; font-style: italic;"></td>
        <td style="padding: 20px; font-style: italic;" th:utext="'<b>' + ${order.price}+ '</b>'"></td>
        </tfoot>
    </table>

    <p>Благодарим за выбор нашей площадки</p>
</div>
</body>
</html>