<!Doctype html>


<html  xmlns:th="http://www.thymeleaf.org">

<head>
    <title>products</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>


<body>


<div class="container">

    <div th:replace="~{navigation :: nav(shop)}"></div>

    <h1>Фильтры</h1>
    <form th:action="@{/products}" method="post">
        <input th:value="${param.word}" th:name = "word" type="text" placeholder="Название товара">
        <input th:value="${paramMin !=null} ? ${paramMin}" th:name = "min" type="number" placeholder="Минимальная цена">
        <input  th:value="${paramMax !=null} ? ${paramMax}" th:name = "max" type="number" placeholder="Максимальная цена">
        <button type="submit" class="btn btn-primary">Фильтровать</button>
    </form>



    <h1>Products List</h1>
    <span th:unless="${page.content.size() > 0}">Продуктов нету</span>

    <table class="table table-hover" th:if="${page.content.size() > 0}">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Price</th>
            <th/>
            <th/>
        </tr>
        </thead>
        <tbody>

        <tr th:each="product : ${page.content}">
            <td th:text="${product.id}"/>
            <td th:text="${product.title}"/>
            <td th:text="${product.price}"/>
            <td>
                <a th:href="@{'/products/delete/' + ${product.id}}" class="btn btn-danger">Delete</a>
            </td>
            <td>
                <a th:href="@{'/products/changeProduct/' + ${product.id}}" class="btn btn-primary">EDIT</a>
            </td>
        </tr>

        </tbody>
    </table>


    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item" th:if="${page.getNumber() > 0}">
                <a th:class="page-link" th:text="Previous"
                   th:href="@{'/products?pageNumber=' + ${page.getNumber()}+${filters}}">Previous</a>
            </li>
            <li  th:classappend="${page.getNumber() + 1 == i ? 'active' : ''}"  class="page-item" th:each="i : ${#numbers.sequence(1, page.totalPages)} " >
                <a  class="page-link" th:text="${i}" th:href="@{'/products?pageNumber=' + ${i} + ${filters} }"/>
            </li>
            <li class="page-item" th:if="${page.getNumber() < page.getTotalPages()-1}">
                <a th:class="page-link" th:text="Next"
                   th:href="@{'/products?pageNumber=' + ${page.getNumber()+2} +${filters}}"></a>
            </li>
        </ul>
    </nav>




</div>

<footer>

</footer>

</body>
</html>