<!Doctype html>
<html xmlns:th="http://www.timeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">

<head>
    <title>Профиль пользователя</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
<body>
<div th:replace="~{navigation :: nav(Profile)}"></div>
<div class="container"style="margin-top: 2%; text-align: center;">

    <h1>Профиль пользователя</h1>
    <br>
    <form
            th:object="${user}"
            method="post" style="width: 400px;margin-left: 32%;">

        <div class="col-auto" style=" margin-top: 10px;">
            <div class="input-group">
                <div class="input-group-text" style="width: 120px;">UserName</div>
                <input  type="text" class="form-control" id="UserName" readonly th:field="*{username}" >
            </div>
        </div>
        <div class="col-auto" style=" margin-top: 10px;">
            <div class="input-group">
                <div class="input-group-text" style="width: 120px;">Pass</div>
                <input  type="text" class="form-control" id="UserName123" value="" readonly th:field="*{password}" >
            </div>
        </div>
        <div class="col-auto" style=" margin-top: 10px;">
            <div class="input-group">
                <div class="input-group-text" style="width: 120px;">email</div>
                <input  type="text" class="form-control" id="email" readonly th:field="*{email}" >
            </div>
        </div>
        <div class="col-auto" style=" margin-top: 10px;">
            <div class="input-group">
                <div class="input-group-text" style="width: 120px;">firstName</div>
                <input  type="text" class="form-control" id="firstName" readonly th:field="*{firstName}" >
            </div>
        </div>
        <div class="col-auto" style=" margin-top: 10px;">
            <div class="input-group">
                <div class="input-group-text" style="width: 120px; ">lastName</div>
                <input  type="text" class="form-control" id="lastName" readonly th:field="*{lastName}" >
            </div>
        </div>
        <br>
        <p>Роли</p>
        <ul class="list-group" th:each="role : ${user.roles.stream().toList()}">
            <li class="list-group-item" th:text ="${role.name}"></li>
        </ul>
    </form>

</div>

</body>

</html>
