<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Registration Confirmation</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body>
<div th:replace="~{navigation :: nav(Home)}"></div>
	<h2>User registered successfully!</h2>
	<hr>
	<a class="btn btn-primary" th:href="@{/login}">Login with new user</a>
</body>
</html>