<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>September Market</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body>
<div th:replace="~{navigation :: nav(Home)}"></div>
<div class="container">
   <h1>Мои заказы</h1>
    <span th:if="${orders.size()==0}">У вас еще нет ни одного заказа</span>
    <div th:if="${orders.size()}!=0"></div>
        <ul th:each="order:${orders}">
            <li th:text="'Заказ № '+ ${order.id}+' от ' + ${order.createdAt}+', '+ ${orders.size()}+ 'товаров на сумму: '+ ${order.price}"></li>
        </ul>
    <a class="btn btn-primary" th:href="@{'/personal/profile'}">Вернуться в свой профиль</a>
    </div>
</body>
</html>