<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>September Market</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>
<h1>Ваш новый пароль для входа в систему:</h1>

<div style="display: none">password</div>
<div style="font-size: 25px" th:text="${password}"></div>
</body>
</html>