<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>September Market</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body>

<div th:replace="~{navigation :: nav(Home)}"></div>

<div class="container">
<h1>Персональный раздер</h1>
    <p>В личном кабинете Вы можете проверить текущее состояние корзины, ход выполнения Ваших заказов,
        просмотреть или изменить личную информацию, а также подписаться на новости и другие информационные рассылки.</p>

    <h1>Личная информация</h1>
    <a th:href="@{/personal/changeData}">Изменить регистрационные данные</a>

    <br>
    <br>
    <h1>Заказы</h1>
    <a th:href="@{/personal/orders}">Посимотреть историю заказов</a>


</div>

</body>
</html>